<!doctype html>

<html>
<head>
      <title>html</title>
</head>

<body bgcolor = "black" text = "white">
   <a href = "1.ppt">   <h1 style = "text-align : center;">ch - 1</h1> 
   <a href = "2.ppt">   <h1 style = "text-align : center;">ch - 2</h1>   
   <a href = "3.ppt">   <h1 style = "text-align : center;">ch - 3</h1> 
   <a href = "4.ppt">   <h1 style = "text-align : center;">ch - 4</h1> 
    
</body>
</html>